@font-face {
  font-family: 'GrandSlang-Roman';
  src: url('GrandSlang-Roman.eot');
  src: url('GrandSlang-Roman.eot?#iefix') format('embedded-opentype'),
       url('GrandSlang-Roman.svg#GrandSlang-Roman') format('svg'),
       url('GrandSlang-Roman.ttf') format('truetype'),
       url('GrandSlang-Roman.woff') format('woff'),
       url('GrandSlang-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

